<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post'>
        <label>
            Username:
            <input type = 'text' name = 'username' th:value="${username}">
            <p class="error" th:errors="${user.username}"></p>
        </label>

        <label>
            Email:
            <input name = 'email' th:value="${email}">
            <p class="error" th:errors="${user.email}"></p>
        </label>

        <label>
            Password:
            <input type = 'password' name = 'password'>
            <p class="error" th:errors="${user.password}"></p>
        </label>

        <label>
            Verify Password:
            <input type = 'password' name = 'verifyPassword'>
            <p class="error" th:errors="${user.verifyPassword}"></p>
        </label>

<!--        <p th:text="${error}"></p>-->

        <input type = 'submit' value = 'Sign Up'>
    </form>

</body>
</html>